@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-center uppercase font-medium py-4 px-8 bg-primary w-fit text-white rounded-bl-lg rounded-tr-lg hover:bg-accent duration-300;
  }

  .btn-primary-dark {
    @apply text-center uppercase font-medium py-4 px-8 bg-primary-dark w-fit text-white rounded-bl-lg rounded-tr-lg hover:bg-accent duration-300;
  }
  .btn-animate {
    @apply hover:before:bg-primary-dark relative overflow-hidden px-3 text-white transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-black before:transition-all before:duration-300 hover:before:left-0 hover:before:w-full ease-in-out;
  }
  .btn-white {
    @apply text-center font-bold py-4 px-8 outline outline-1 outline-gray-700 w-fit bg-gray-100 text-dark-blue rounded-full;
  }
  .btn-secondary {
    @apply text-center font-bold py-5 px-14 bg-gradient-to-br from-primary to-secondary w-fit text-white hover:from-white hover:to-gray-100 hover:text-dark-blue rounded-full duration-300;
  }
  .paragraph {
    @apply text-gray-600 lg:text-base leading-loose font-sans1;
  }

  .tooltip {
  @apply invisible opacity-0 absolute p-4 rounded-lg shadow-md shadow-slate-800/50 bg-gray-50 text-center text-gray-800 mt-5;
  }

  .has-tooltip:hover .tooltip {
    @apply visible opacity-95 transition-all duration-300 cursor-help;
  }

  .swiper-button-next, .swiper-button-prev {
    @apply bg-gray-100 opacity-20 hover:opacity-70 duration-300 ease-in-out rounded-full px-8 py-9;
  }
}

.outlined-text {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.swiper-button-prev,
.swiper-button-next {
  color: #055250 !important;
}

.swiper-pagination-bullet-active {
  background-color: #055250 !important;
}

/* .swiper-wrapper {
  height: 100% !important;
} */

.swiper-slide {
  height: auto !important;
}
