@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-center uppercase font-medium py-5 px-8 bg-primary w-fit text-white rounded-bl-lg rounded-tr-lg hover:bg-accent duration-300;
  }
  .btn-animate {
    @apply hover:before:bg-primary-dark relative overflow-hidden px-3 text-white transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-black before:transition-all before:duration-300 hover:before:left-0 hover:before:w-full ease-in-out;
  }
  .btn-white {
    @apply text-center font-bold py-4 px-8 outline outline-1 outline-gray-700 w-fit bg-gray-100 text-dark-blue rounded-full;
  }
  .btn-secondary {
    @apply text-center font-bold py-5 px-14 bg-gradient-to-br from-primary to-secondary w-fit text-white hover:from-white hover:to-gray-100 hover:text-dark-blue rounded-full duration-300;
  }
  .paragraph {
    @apply text-gray-500 lg:text-lg leading-loose;
  }
}

.outlined-text {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

/* .swiper-wrapper {
  height: 100% !important;
} */

.swiper-slide {
  height: auto !important;
}
