---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const headerData = {
  headerH1: "Catalina Intro Flight",
  headerH2: "Book an Introductory Flight at NextGen Flight Academy",
  imagePath: "/src/assets/kaushik-panchal-0juC5JIhPks-unsplash.jpg",
  imageAlt: "clouds in the sky over California, NextGen Flight Academy",
};
---

<BaseLayout
  siteTitle="Book an Introductory Discovery Flight | Riverside, CA Flight Training"
  siteDescription="Completing an introductory flight, also known as a discovery flight, is the first step in becoming a pilot.  It's your first lesson where you'll be paired up with a certified flight instructor.  Your instructor will help you with take offs and landings, but you'll be at the controls for the majority of the time.  After the flight, you can learn more about the pilot training process and see if it's right for you."
>
  <Header data={headerData} />

  <section id="intro-lesson-form">
    <iframe
      src="https://msg.flightschoolcrm.com/widget/form/a6qIDHenWwsQwdpSQn1E"
      style="width:100%;height:100%;border:none;border-radius:2px"
      id="inline-a6qIDHenWwsQwdpSQn1E"
      data-layout="{'id':'INLINE'}"
      data-trigger-type="alwaysShow"
      data-trigger-value=""
      data-activation-type="alwaysActivated"
      data-activation-value=""
      data-deactivation-type="neverDeactivate"
      data-deactivation-value=""
      data-form-name="Catalina Intro Flight - $295.00"
      data-height="1340"
      data-layout-iframe-id="inline-a6qIDHenWwsQwdpSQn1E"
      data-form-id="a6qIDHenWwsQwdpSQn1E"
      title="Catalina Intro Flight - $295.00"
    >
    </iframe>
  </section>
  <script src="https://msg.flightschoolcrm.com/js/form_embed.js"></script>
</BaseLayout>
