---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../assets/private-pilot-sits-in-multi-engine-plane.jpg";
import { MdOutlineQuiz } from "react-icons/md";
import quizForm from "../data/quiz-form";

const { data } = quizForm;
const QUIZ_FORM_WEBHOOK_URL = import.meta.env.QUIZ_FORM_WEBHOOK_URL;
---

<BaseLayout siteTitle="NextGen's Pilot Readiness Quiz">
  <Header data={data.header} />

  <section class="py-16 px-5 max-w-5xl mx-auto">
    <div class="mx-auto flex flex-col justify-center items-center">
      <MdOutlineQuiz className="size-14 text-mustard-yellow mb-5" />
      <p class="uppercase text-primary font-bold tracking-widest">
        Fill out the quiz to find out if you're ready to become a pilot
      </p>
    </div>
    <form
      id="quiz-form"
      method="POST"
      action=""
      class="max-w-3xl mx-auto flex flex-col justify-center align-middle items-center space-y-8"
    >
      <div class="">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label
              for="first-name"
              class="block font-medium leading-6 text-primary-dark"
              >First name</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
                required
              />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="last-name"
              class="block font-medium leading-6 text-primary-dark"
              >Last name</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="last-name"
                id="last-name"
                autocomplete="family-name"
                class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
                required
              />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="email"
              class="block font-medium leading-6 text-primary-dark"
              >Email address</label
            >
            <div class="mt-2">
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
                required
              />
            </div>
          </div>

          <p class="hidden">
            <label>
              Don't fill this out if you're human: <input
                name="confirm-email"
              />
            </label>
          </p>

          <div class="sm:col-span-3">
            <label
              for="phone"
              class="block font-medium leading-6 text-primary-dark">Phone</label
            >
            <div class="mt-2">
              <input
                id="phone"
                name="phone"
                type="tel"
                autocomplete="phone"
                class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
                required
              />
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="mt-10 space-y-10 flex justify-center">
          <fieldset>
            <legend class="font-medium leading-6 text-primary-dark"
              >What inspires you to pursue a career as a pilot?</legend
            >
            <p class="text-gray-500 text-sm">You can select multiple options</p>
            <div class="mt-2 space-y-1">
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    id="adventure"
                    name="inspirations"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                    value="A passion for adventure"
                  />
                </div>
                <div class="leading-6">
                  <label for="adventure" class="text-gray-600"
                    >A passion for adventure</label
                  >
                </div>
              </div>
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    id="opportunities"
                    name="inspirations"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                    value="Professional growth and opportunities"
                  />
                </div>
                <div class="leading-6">
                  <label for="opportunities" class="text-gray-600"
                    >Professional growth and opportunities</label
                  >
                </div>
              </div>
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    id="hobby"
                    name="inspirations"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                    value="Personal hobby"
                  />
                </div>
                <div class="leading-6">
                  <label for="hobby" class="text-gray-600">Personal hobby</label
                  >
                </div>
              </div>
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    id="other"
                    name="inspirations"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                    value="Other:"
                  />
                </div>
                <div class="leading-6">
                  <label for="other" class="text-gray-600"
                    >Other (please specify)</label
                  >
                </div>
              </div>
              <input
                class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
                type="text"
                name="inspirations"
                id="other-text"
              />
            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-span-full">
        <label
          for="long-term-goals"
          class="block font-medium leading-6 text-primary-dark"
          >What are your long-term goals within the aviation industry?</label
        >
        <div class="mt-2">
          <textarea
            id="long-term-goals"
            name="long-term-goals"
            rows="3"
            class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
          ></textarea>
        </div>
      </div>

      <div class="">
        <div class="mt-10 space-y-10 flex justify-center">
          <fieldset>
            <legend class="font-medium leading-6 text-primary-dark"
              >What is your current level of aviation experience?</legend
            >
            <div class="mt-2 space-y-1">
              <div class="flex items-center gap-x-3">
                <input
                  id="no-experience"
                  name="level-of-experience"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                  value="No prior experience with piloting aircraft"
                />
                <label for="no-experience" class="block leading-6 text-gray-600"
                  >No prior experience with piloting aircraft</label
                >
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  id="simulator-experience"
                  name="level-of-experience"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                  value="Experience with flight simulators or drones"
                />
                <label
                  for="simulator-experience"
                  class="block leading-6 text-gray-600"
                  >Experience with flight simulators or drones</label
                >
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  id="flight-training"
                  name="level-of-experience"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                  value="Some flight training but haven't soloed yet"
                />
                <label
                  for="flight-training"
                  class="block leading-6 text-gray-600"
                  >Some flight training but haven't soloed yet</label
                >
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  id="checkride"
                  name="level-of-experience"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                  value="Currently working towards completing a checkride"
                  required
                />
                <label for="checkride" class="block leading-6 text-gray-600"
                  >Currently working towards completing a checkride</label
                >
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="">
        <div class="mt-10 space-y-10 flex justify-center"></div>
        <fieldset>
          <legend class="font-medium leading-6 text-primary-dark"
            >Which learning style resonates with you the most?</legend
          >
          <div class="mt-2 space-y-1">
            <div class="flex items-center gap-x-3">
              <input
                id="practical"
                name="preferred-learning-style"
                type="radio"
                class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                value="Hands-on, practical learning"
              />
              <label for="practical" class="block leading-6 text-gray-600"
                >Hands-on, practical learning</label
              >
            </div>
            <div class="flex items-center gap-x-3">
              <input
                id="visual"
                name="preferred-learning-style"
                type="radio"
                class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                value="Visual learning through observation"
              />
              <label for="visual" class="block leading-6 text-gray-600"
                >Visual learning through observation</label
              >
            </div>
            <div class="flex items-center gap-x-3">
              <input
                id="reading"
                name="preferred-learning-style"
                type="radio"
                class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                value="Learning through reading and studying materials"
                required
              />
              <label for="reading" class="block leading-6 text-gray-600"
                >Learning through reading and studying materials</label
              >
            </div>
          </div>
        </fieldset>
      </div>

      <div class="">
        <div class="mt-10 space-y-10 flex justify-center"></div>
        <fieldset>
          <legend class="font-medium leading-6 text-primary-dark"
            >Do you prefer a structured learning environment with clearly
            defined expectations, or a more flexible, adaptable approach?</legend
          >
          <div class="mt-2 space-y-1">
            <div class="flex items-center gap-x-3">
              <input
                id="structured"
                name="preferred-approach"
                type="radio"
                class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                value="I prefer a structured approach"
              />
              <label for="structured" class="block leading-6 text-gray-600"
                >I prefer a structured approach</label
              >
            </div>
            <div class="flex items-center gap-x-3">
              <input
                id="flexible"
                name="preferred-approach"
                type="radio"
                class="h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                value="I prefer a flexible approach"
                required
              />
              <label for="flexible" class="block leading-6 text-gray-600"
                >I prefer a flexible approach</label
              >
            </div>
          </div>
        </fieldset>
      </div>

      <div class="">
        <div class="mt-10 space-y-10"></div>
        <fieldset>
          <legend class="font-medium leading-6 text-primary-dark"
            >What kind of guidance and support would you prefer from your flight
            instructor?
          </legend>
          <p class="text-gray-500 text-sm">You can select multiple options</p>
          <div class="mt-2 space-y-1">
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="personalized-approach"
                  name="kind-of-guidance"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                  value="A personalized approach tailored to my individual learning needs and preferences"
                />
              </div>
              <div class="leading-6">
                <label for="personalized-approach" class="text-gray-600"
                  >A personalized approach tailored to my individual learning
                  needs and preferences</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="hands-on-involvement"
                  name="kind-of-guidance"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                  value="Hands-on involvement from the instructor, with constant feedback and guidance"
                />
              </div>
              <div class="leading-6">
                <label for="hands-on-involvement" class="text-gray-600"
                  >Hands-on involvement from the instructor, with constant
                  feedback and guidance</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="structured-approach"
                  name="kind-of-guidance"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                  value="A structured approach with clear goals and objectives"
                />
              </div>
              <div class="leading-6">
                <label for="structured-approach" class="text-gray-600"
                  >A structured approach with clear goals and objectives</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="guidance"
                  name="kind-of-guidance"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                  value="Supportive and encouraging guidance, with a focus on building confidence"
                />
              </div>
              <div class="leading-6">
                <label for="guidance" class="text-gray-600"
                  >Supportive and encouraging guidance, with a focus on building
                  confidence</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="other2"
                  name="kind-of-guidance"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
                  value="Other:"
                />
              </div>
              <div class="leading-6">
                <label for="other2" class="text-gray-600"
                  >Other (please specify)</label
                >
              </div>
            </div>
            <input
              class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
              type="text"
              name="kind-of-guidance"
              id="other2-text"
            />
          </div>
        </fieldset>
      </div>

      <div class="col-span-full">
        <label
          for="lift-generation"
          class="block font-medium leading-6 text-primary-dark"
          >Do you know how a wing generates lift?</label
        >
        <div class="mt-2">
          <textarea
            id="lift-generation"
            name="do-you-know-how-a-wing-generates-lift"
            rows="3"
            class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
            required></textarea>
        </div>
      </div>

      <div class="col-span-full">
        <label
          for="expectations"
          class="block font-medium leading-6 text-primary-dark"
          >Is there anything else you'd like us to know about your interests or
          expectations regarding flight training?</label
        >
        <div class="mt-2">
          <textarea
            id="expectations"
            name="anything-else-youd-like-us-to-know-about-your-interests-or-expectations-regarding-flight-training"
            rows="3"
            class="block w-full p-2 border-0 py-1.5 text-primary-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:sm:leading-6"
            required></textarea>
        </div>
      </div>

      <div class="">
        <div class="mt-10 space-y-10"></div>
        <fieldset
          class="flex flex-col justify-center items-center align-middle mt-4"
        >
          <legend class="mb-2 text-gray-800 text-center w-full">
            Would you like schedule a visit to NextGen Flight Academy?
          </legend>

          <div>
            <div>
              <input
                type="radio"
                class="mx-2"
                id="yes-visit"
                name="visit-nextgen"
                value="yes-visit"
                required
              />
              <label for="yes-visit">Yes</label>
            </div>
            <input
              type="radio"
              class="mx-2"
              id="no-visit"
              name="visit-nextgen"
              value="no-visit"
              required
            />
            <label for="no-visit">No</label>
          </div>
        </fieldset>
        <div
          id="location-container"
          class="hidden flex-col justify-center items-center align-middle"
        >
          <label for="visit-location">Choose a location:</label>

          <select
            name="visit-location"
            id="visit-location"
            class="w-36 px-3 py-2 border border-gray-400 text-center"
          >
            <option value="riverside">Riverside</option>
            <option value="redlands">Redlands</option>
          </select>
        </div>
      </div>

      <div class="flex gap-3 my-5 items-center">
        <input
          type="checkbox"
          name="agree-data-collection"
          id="agree-data-collection"
          class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
        />

        <label for="agree-data-collection" class="text-gray-500 text-sm">
          {data.checkboxText}
        </label>
      </div>

      <button
        type="submit"
        id="submit-button"
        class="btn-primary cursor-not-allowed bg-gray-400 hover:bg-gray-400 hover:text-white"
        disabled>Submit</button
      >
    </form>
  </section>
</BaseLayout>
<script define:vars={{ QUIZ_FORM_WEBHOOK_URL }}>
  // Wait for the DOM content to be fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Get the quiz form element
    const quizForm = document.getElementById("quiz-form");

    // Check if the quiz form element exists
    if (quizForm !== null) {
      // Add submit event listener to the quiz form
      quizForm.addEventListener("submit", function (event) {
        // Prevent the default form submission
        event.preventDefault();

        // Serialize the form data
        const formData = new FormData(quizForm);

        // Check the value of the honeypot field
        const confirmEmailValue = formData.get("confirm-email");
        if (confirmEmailValue === "" || confirmEmailValue === null) {
          // If the honeypot field is empty, it's a human
          // Set the form action to the URL for processing the form and redirecting to thank you
          quizForm.action = QUIZ_FORM_WEBHOOK_URL;
        }

        const inspirations = [];
        formData.getAll("inspirations").forEach((inspiration) => {
          inspirations.push(inspiration);
        });

        formData.delete("inspirations");

        formData.append("what-inspires-you", inspirations.join(","));

        const kindOfGuidance = [];
        formData.getAll("kind-of-guidance").forEach((guidance) => {
          kindOfGuidance.push(guidance);
        });

        formData.delete("kind-of-guidance");

        formData.append(
          "what-kind-of-guidance-and-support-you-prefer",
          kindOfGuidance.join(",")
        );

        // Convert FormData to URLSearchParams
        const urlSearchParams = new URLSearchParams();
        for (const pair of formData.entries()) {
          urlSearchParams.append(pair[0], pair[1]);
        }

        // Send an AJAX request to submit the form
        const xhr = new XMLHttpRequest();
        xhr.open("POST", quizForm.action);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.onload = function () {
          // Check if the request was successful (status 200)
          if (xhr.status === 200) {
            // Redirect the user after a successful form submission
            window.location.href = "/quiz-confirmation";
          } else {
            // Handle errors if any
            console.error("Form submission failed:", xhr.statusText);
          }
        };
        xhr.onerror = function () {
          // Handle network errors
          console.error("Network error occurred while submitting the form.");
        };
        xhr.send(urlSearchParams);
      });
    } else {
      console.error("Quiz form element not found.");
    }
  });

  const checkbox = document.getElementById("agree-data-collection");
  const submitButton = document.getElementById("submit-button");
  const yesVisit = document.getElementById("yes-visit");
  const noVisit = document.getElementById("no-visit");

  yesVisit.addEventListener("change", function () {
    if (yesVisit.checked) {
      document.getElementById("location-container").classList.remove("hidden");
      document.getElementById("location-container").classList.add("flex");
    } else {
      document.getElementById("location-container").classList.add("hidden");
    }
  });

  noVisit.addEventListener("change", function () {
    if (noVisit.checked) {
      document.getElementById("location-container").classList.add("hidden");
    }
  });

  checkbox.addEventListener("change", function () {
    if (checkbox.checked) {
      submitButton.disabled = false;
      submitButton.classList.remove(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
        "hover:text-white"
      );
    } else {
      submitButton.disabled = true;
      submitButton.classList.add(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
        "hover:text-white"
      );
    }
  });
</script>
