---

---

<section class="bg-red-700 py-12 px-5">
  <div
    class="max-w-xl lg:max-w-7xl mx-auto flex flex-col lg:flex-row gap-5 lg:gap-20 items-center"
  >
    <h3 class="text-white font-bold text-3xl flex-1 text-center lg:text-start">
      Ready to start your journey with NextGen Flight Academy?
    </h3>

    <a
      href="/enrollment"
      class="btn-dark-blue hover:bg-white hover:text-dark-blue"
    >
      Schedule a visit
    </a>
  </div>
</section>
<!-- <section class="bg-red-700 py-12 px-5">
  <div
    class="max-w-xl lg:max-w-7xl mx-auto flex flex-col lg:flex-row gap-5 lg:gap-20 items-center"
  >
    <h3 class="text-white font-bold text-3xl flex-1">
      Hurry up! New courses will start on June 17, 2024
    </h3>
    <div class="flex relative flex-1 w-full">
      <input
        type="text"
        placeholder="Your email"
        class="px-5 py-4 w-full outline-1 border-gray-300 border outline-gray-400 rounded-full"
      />
      <button
        type="submit"
        class="btn-dark-blue px-8 absolute right-[1px] py-4 top-[1px]"
      >
        Subscribe
      </button>
    </div>
  </div>
</section> -->
